<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">We are Flutter and Firebase experts with a passion for cross-platform mobile and web apps. We are led by an ex-Google intern, currently recognized by Google as Google Developer Expert in Dart. We love the challenge of starting out with a rough idea, shaping it and developing a polished app. We also try to make the world a better place for app developers by actually contributing to the technologies that we use and love.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
