<section id="services">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 text-center">
                
                <hr class="primary">
             </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>OPEN COMMUNICATION</h3>
                    <p class="text-muted">We love to listen and share our opinions. Remote work becomes an advantage with tools such as Slack, Jira, Trello and Skype.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>FULL STACK, FULL PIPELINE</h3>
                    <p class="text-muted">We are a one-stop company for full-cycle development: storyboards, prototypes, UI/UX design, frontend and backend development.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>ON THE CUTTING EDGE</h3>
                    <p class="text-muted">We embrace new technologies such as Flutter, Firebase and Hasura. Your app will be just like the million-dollar apps that we all love to use.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
